parameters:
	level: max
	treatPhpDocTypesAsCertain: false

	bootstrapFiles:
		- tools/phpunit/vendor/autoload.php

	paths:
		- src
		- tests

	stubFiles:
		- stubs/Command.stub
		- stubs/ConfigSourceInterface.stub
