<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  bootstrap="../bootstrap.php"
  colors="true"
  forceCoversAnnotation="false"
  failOnRisky="true"
  beStrictAboutChangesToGlobalState="true"
  beStrictAboutOutputDuringTests="false"
  beStrictAboutResourceUsageDuringSmallTests="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutTodoAnnotatedTests="true"
  beStrictAboutCoversAnnotation="false"
  enforceTimeLimit="false"
  defaultTimeLimit="0"
>
  <coverage>
    <include>
      <directory>../../src/</directory>
    </include>
    <report>
      <html outputDirectory="../../var/log/report-functional"/>
      <php outputFile="../../var/log/cov/coverage-functional.cov"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Functional Test Suite">
      <directory>./</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="../../var/log/junit-functional.xml"/>
    <testdoxHtml outputFile="../../var/log/testdox-functional.html"/>
    <testdoxText outputFile="../../var/log/testdox-functional.txt"/>
    <testdoxXml outputFile="../../var/log/testdox-functional.xml"/>
  </logging>
</phpunit>
